.home{
  &__title{
    @extend .fz-30;
    font-family: $font-Verdana-Bold;
    color: $color1;
    line-height: (36/30);
  }
  &__block01{
    &__box2{
      @include media-breakpoint-down('s'){
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        > *{
          width: max-content;
          > *{
            &:last-child{
              margin-right: 15px;
            }
          }
        }
      }
    }
    &__box1{
      @include media-breakpoint-down('s'){
        max-width: 200px;
        width: 100%;
      }
      &__img{
        height: 150px;
        @include media-breakpoint-up('m'){
          height: 231px;
        }
      }
      &__title{
        font-family: $font-Verdana-Bold;
        color: $color1;
        &.fz1{
          @extend .fz-29;
          line-height: (22/28.7);
        }
        &.fz2{
          @extend .fz-20;
          line-height: (23.5/19.6);
        }
        &.fz3{
          @extend .fz-36;
          line-height: (27/35.9);
        }
      }
      &__desc{
        font-family: $font-Verdana;
        @extend .fz-16;
        line-height: (73/64);
        color: #000000;
      }
    }
  }
  &__block02{
    &__box1{
      background-color: $color1;
      color: #fff;
      $x: 10px;
      border-radius: #{$x};
      @include media-breakpoint-up('m'){
        $x: 25px;
        border-radius: #{$x};
      }
      &__txt1{
        font-family: $font-Verdana-Bold;
        color: #ffffff;
        @extend .fz-42;
        line-height: (33/41.7);
        margin-bottom: 7px;
      }
      &__txt2{
        line-height: 1.2;
        @extend .fz-16;
        font-family: $font-Verdana;
        span{
          @extend .fz-20;
          font-family: $font-Verdana-Bold;
        }
      }
    }
  }
  &__block03{
    background-color: $color1;
    &__column{

    }
    &__box1{
      &__title{
        @extend .fz-22;
        font-family: $font-Verdana-Bold;
        line-height: (33.7/22);
        color: #ffffff !important;
      }
    }
  }
  &__block04{
    &__list{
      >li{
        margin: 0 !important;
        @extend .fz-18;
        color: #000;
        font-family: $font-Verdana-Bold;
      }
    }
    &__box2{
      $x: 50px;
      $y: 5px;
      &:before,&:after{
        content: "";
        position: absolute;
        //background-color: $color3;
        width: 0;
        height: 0;
        border-style: solid;
        z-index: 10;
      }
      &:before{
        top: #{$y};
        left: #{$y};
        border-width: calc(#{$x} - #{$y}) calc(#{$x} - #{$y}) 0 0;
        border-color: $color4 transparent transparent transparent;
        .home__block03 &{
          border-color: #000000 transparent transparent transparent;
        }
      }
      &:after{
        bottom: #{$y};
        right: #{$y};
        border-width: 0 0 calc(#{$x} - #{$y}) calc(#{$x} - #{$y});
        border-color: transparent transparent $color4 transparent;
        .home__block03 &{
          border-color: transparent transparent #000000 transparent;
        }
      }
    }
    &__box1{
      $x: 50px;
      clip-path: polygon(#{$x} 0%, 100% 0, 100% calc(100% - #{$x}), calc(100% - #{$x}) 100%, 0 100%, 0 #{$x});
      @include media-breakpoint-up('m'){
        $x: 50px;
        clip-path: polygon(#{$x} 0%, 100% 0, 100% calc(100% - #{$x}), calc(100% - #{$x}) 100%, 0 100%, 0 #{$x});
      }
      &__title{
        color: $color1;
        font-family: $font-Verdana-Bold;
        @extend .fz-20;
        line-height: (21/20);
      }
      &__label{
        @extend .fz-16;
        color: #666666;
        font-family: $font-Roboto;
      }
      &__input{
        @extend .fz-16;
        color: #666666;
        font-family: $font-Roboto;
      }
      &__txt{
        @extend .fz-16;
        color: #666666;
        font-family: $font-Roboto;
      }
    }
  }
  &__block05{
    &__box1{
      @include media-breakpoint-down('s'){
        padding-top: 130px;
      }
    }
    @include media-breakpoint-down('s'){
      background-image: url(images/bg1_m.png) !important;
      background-size: cover;
    }
  }
}