.home{
  &__title{
    @extend .fz-30;
    font-family: $font-Verdana-Bold;
    color: $color1;
    line-height: (36/30);
  }
  &__block01{
    &__box2{
      @include media-breakpoint-down('s'){
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        > *{
          width: max-content;
          > *{
            &:last-child{
              margin-right: 15px;
            }
          }
        }
      }
    }
    &__box1{
      @include media-breakpoint-down('s'){
        max-width: 200px;
        width: 100%;
      }
      &__img{
        height: 150px;
        @include media-breakpoint-up('m'){
          height: 231px;
        }
      }
      &__title{
        font-family: $font-Verdana-Bold;
        color: $color1;
        &.fz1{
          @extend .fz-29;
          line-height: (22/28.7);
        }
        &.fz2{
          @extend .fz-20;
          line-height: (23.5/19.6);
        }
        &.fz3{
          @extend .fz-36;
          line-height: (27/35.9);
        }
      }
      &__desc{
        font-family: $font-Verdana;
        @extend .fz-16;
        line-height: (73/64);
        color: #000000;
      }
    }
  }
  &__block02{
    &__box1{
      background-color: $color1;
      color: #fff;
      $x: 10px;
      border-radius: #{$x};
      @include media-breakpoint-up('m'){
        $x: 25px;
        border-radius: #{$x};
      }
      &__txt1{
        font-family: $font-Verdana-Bold;
        color: #ffffff;
        @extend .fz-42;
        line-height: (33/41.7);
        margin-bottom: 7px;
      }
      &__txt2{
        line-height: 1.2;
        @extend .fz-16;
        font-family: $font-Verdana;
        span{
          @extend .fz-20;
          font-family: $font-Verdana-Bold;
        }
      }
    }
  }
  &__block03{
    background-color: $color1;
    &__column{

    }
    &__box1{
      &__title{
        @extend .fz-22;
        font-family: $font-Verdana-Bold;
        line-height: (33.7/22);
        color: #ffffff !important;
      }
    }
  }
}