.block01{
  background-color: $color3;
  &__boxCountdown{
    background-color: $color1;
    .uk-countdown-number{
      @extend .fz-57;
      color: rgba(#fff,1) !important;
    }
    .uk-countdown-label{
      @extend .fz-16;
      color: rgba(#fff,1) !important;
    }
    .uk-countdown-separator{
      @extend .fz-25;
    }
  }
  .uk-radio{
    background-color: #fff;
  }
  &__btnSubmit{
    font-family: $font-Verdana;
    @extend .fz-18;
    background: $color1 !important;
    .home__block03__column:nth-child(1) &{
      background: #8b211e !important;
    }
    .home__block03__column:nth-child(2) &{
      background: #861b47 !important;
    }
    .home__block03__column:nth-child(3) &{
      background: #1b95a2 !important;
    }
    .home__block03__column:nth-child(4) &{
      background: #fdbc00 !important;
    }
    .home__block03__column:nth-child(5) &{
      background: #223c72 !important;
    }
    &--c1{
      padding: 0 5px;
    }
    .home__block03 &{
      padding: 0 5px;
    }
    color: rgba(#fff,1) !important;
    line-height: 35px;
    $x: 10px;
    $y: 1px;
    clip-path: polygon(#{$x} 0%, 100% 0, 100% calc(100% - #{$x}), calc(100% - #{$x}) 100%, 0 100%, 0 #{$x});
    position: relative;
    &__box1{
      &:before,&:after{
        content: "";
        position: absolute;
        //background-color: $color3;
        width: 0;
        height: 0;
        border-style: solid;
        z-index: 10;
      }
      &:before{
        top: #{$y};
        left: #{$y};
        border-width: calc(#{$x} - #{$y}) calc(#{$x} - #{$y}) 0 0;
        border-color: $color4 transparent transparent transparent;
        .home__block03 &{
          border-color: #000000 transparent transparent transparent;
        }
      }
      &:after{
        bottom: #{$y};
        right: #{$y};
        border-width: 0 0 calc(#{$x} - #{$y}) calc(#{$x} - #{$y});
        border-color: transparent transparent $color4 transparent;
        .home__block03 &{
          border-color: transparent transparent #000000 transparent;
        }
      }
    }
  }
  &__title{
    font-family: $font-Verdana-Bold;
    @extend .fz-30;
    line-height: (36/30);
    .uk-light &{
      color: rgba(#fff,1) !important;
    }
    span{
      font-family: $font-Verdana;
    }
  }
  &__input{
    background-color: #fff !important;
    color: #575756 !important;
    @extend .fz-16;
    font-family: $font-Roboto-LightItalic;
    &::placeholder{
      color: #575756 !important;
    }
  }
  &__lablel{
    @extend .fz-16;
    line-height: (17/16);
    font-family: $font-Roboto-Bold;
    color: rgba(#fff,1) !important;
    min-width: 136px;
  }
  &__txtRadio{
    @extend .fz-16;
    font-family: $font-Roboto-Medium;
    line-height: (18/16);
    color: rgba(#fff,0.9) !important;
  }
}